.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.environment/
.idea/
.git/
.gradle/
venv/
data/
false
.history
pointer
tmp/*
node_modules
*.pyc
dist
coverage
.nyc_output
*.sublime-workspace
resize-pointer*
pointers
config/*
logs
stats
.secrets/*.json
!config/default.json
!config/custom-environment-variables.json
!.gitkeep
*.retry
/.gradle/
.DS_Store
k8s/00-credentials_.yml
